<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Odit, eaque eius quod sit accusantium ad 
    olores debitis. Assumenda, obcaecati, officia, esse tenetur quidem iure 
    atque nihil dolorem ipsum iste suscipit!</p>
</div>